---
---

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700;900&display=swap"
    />
  </head>

  <body>
    <main
      class="bg-gray-900 text-white text-center flex flex-col justify-center items-center h-full min-h-screen"
    >
      <h1 class="font-extrabold text-8xl leading-normal mb-8">Coming soon</h1>
      <h2 class="font-extralight text-xl text-gray-400">
        My website is under construction. <br />
        Hold tight! I'll be here soon with my awesome website.
      </h2>
    </main>
  </body>
</html>

<style>
  body {
    font-family: "Outfit", sans-serif;
  }

  h1 {
    background: #8df175;
    background: linear-gradient(
      to bottom left,
      #8df175 0%,
      #0a97f5 15%,
      #d84ba8 75%,
      #ff5968 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
