---
---

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;900&display=swap"
    />
  </head>

  <body>
    <main
    class="font-sans bg-gray-900 text-white text-center flex flex-col justify-center items-center h-full min-h-screen"
    >
    <h1 class="font-extrabold text-8xl leading-normal mb-8">Coming soon...</h1>
    <h2 class="font-light text-xl text-gray-300">
      My website is under construction. <br />
      Hold tight! I'll be here soon with my awesome homepage
    </h2>
    </main>
  </body>
</html>

<style>
  h1 {
    background: #8df175;
    background: linear-gradient(
      to bottom left,
      #8df175 0%,
      #0a97f5 15%,
      #d84ba8 75%,
      #ff5968 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
