---
---

<footer class="py-4 text-center border-gray-500 border-t-2">
  <p class="text-gray-400 text-base">Made with ❤️ by Hieu Do</p>
</footer>

<style>
  footer {
    font-family: "Source Code Pro", monospace;
  }
</style>
