---
---

<footer class="py-4 text-center bg-white dark:bg-gray-900">
  <p class="text-gray-900 dark:text-gray-500 text-base">
    Made with ❤️ by Hieu Do
  </p>
</footer>

<style>
  footer {
    font-family: "Source Code Pro", monospace;
  }
</style>
