---
import github from "../assets/icons/github.svg";
import twitter from "../assets/icons/twitter.svg";
---

<header class="fixed top-0 w-full mx-auto z-20 backdrop-blur-sm">
  <div class="flex justify-between my-4 px-4 container w-full mx-auto">
    <h1 class="select-none uppercase text-white">
      <a href="/">
        <span class="font-extrabold">hieudo</span><span
          class="font-serif font-thin">.dev</span
        >
      </a>
    </h1>
    <nav>
      <ul class="flex items-center">
        <li class="mr-4">
          <a href="/" class="hover:text-gray-300 uppercase text-xs text-white"
            >About</a
          >
        </li>
        <li class="mr-4">
          <a
            href="/blog"
            class="hover:text-gray-300 uppercase text-xs text-white">Blog</a
          >
        </li>
        <li class="mr-4">
          <a
            href="#contact"
            class="hover:text-gray-300 uppercase text-xs text-white">Contact</a
          >
        </li>
        <li class="mr-3">
          <a
            href="https://github.com/hieudo-dev"
            class="hover:text-gray-300 uppercase text-xs text-white"
          >
            <img
              src={github}
              width="20"
              height="20"
              class="hover:scale-105 transition-all"
            />
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/hieudodev"
            class="hover:text-gray-300 uppercase text-xs text-white"
          >
            <img
              src={twitter}
              width="20"
              height="20"
              class="hover:scale-105 transition-all"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
