---
---

<header class="fixed top-0 w-full mx-auto backdrop-blur-md">
  <div class="flex justify-between my-4 px-4 container w-full mx-auto">
    <h1 class="select-none uppercase text-white">
      <a href="/">
        <span class="font-bold">hieudo</span>.dev
      </a>
    </h1>
    <nav>
      <ul class="flex">
        <li class="mr-4">
          <a href="/" class="hover:text-gray-300 uppercase text-xs text-white"
            >About</a
          >
        </li>
        <li class="mr-4">
          <a
            href="/blog"
            class="hover:text-gray-300 uppercase text-xs text-white">Blog</a
          >
        </li>
        <li class="mr-4">
          <a
            href="#contact"
            class="hover:text-gray-300 uppercase text-xs text-white">Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
