---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

interface Props {
  showHeader?: boolean;
  showFooter?: boolean;
  meta?: {
    title: string;
    description: string;
  };
}

const {
  showHeader = true,
  showFooter = true,
  meta = { title: "Hieu Do's Blog", description: "Hieu Do's Blog" },
} = Astro.props;
const { title, description } = meta;
---

<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;800&family=Roboto:wght@100;200;400;800&family=Source+Code+Pro:wght@300&display=swap"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
      data-name="bmc-button"
      data-slug="hieudodev"
      data-color="#FFDD00"
      data-emoji=""
      data-font="Cookie"
      data-text="Buy me a coffee"
      data-outline-color="#000000"
      data-font-color="#000000"
      data-coffee-color="#ffffff"
    ></script>
  </head>

  <body class="flex flex-col min-h-screen relative bg-gray-950">
    {
      showHeader ? (
        <>
          <Header />
          <svg
            viewBox="0 0 1440 116"
            class="text-gray-900 border-text-gray-900 border-t-[32px]"
            fill="currentColor"
          >
            <path d="M 0 80.4 l 40 -21.1 C 80 37.7 157 38 232 46 s 155 43 240 44 c 84 2 155 -18 243 -24 c 68 -2 160 4.9 240 21.1 c 80 15.6 160 37.4 240 26.5 s 160 -52.6 200 -74.1 l 40 -21.1 V 0 H 0 V 80.4 z" />
          </svg>
        </>
      ) : null
    }
    <slot />
    {showFooter ? <Footer /> : null}
  </body>
</html>
