---
import { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: CollectionEntry<"post">;
}

const { data } = Astro.props.post;
---

<html>
  <BaseLayout
    meta={{
      title: `${data.title} - Hieu Do's blog`,
      description: data.description,
    }}
  >
    <main>
      <article class="font-extralight px-4 lg:mx-auto w-full max-w-2xl">
        <header>
          <h1 class="text-white text-4xl text-center font-bold mb-0">
            {data.title}
          </h1>
          <p class="mt-2 text-center text-base font-light text-gray-400">
            <time>
              {
                data.date_published.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </time>
            - 🕐 4 mins read
          </p>
        </header>
        <section class="mt-12 prose prose-invert text-slate-200 font-normal">
          <slot />
        </section>

        <footer class="my-12 not-format">
          <address class="flex items-center mb-6 not-italic">
            <div class="inline-flex items-center mr-3 text-sm text-white">
              <img
                class="mr-4 w-16 h-16 rounded-full"
                src="https://avatars.githubusercontent.com/u/37623000?v=4"
                alt="Hieu Do"
              />
              <div>
                <a href="#" rel="author" class="text-xl font-bold text-white"
                  >Hieu Do</a
                >
                <p class="text-base font-light text-gray-400">
                  Software Engineer, Front-end developer, OCG.
                </p>
              </div>
            </div>
          </address>
        </footer>
      </article>
    </main>
  </BaseLayout>
</html>
