---
---

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
    >
      <header class="mb-4 lg:mb-6 not-format">
        <address class="flex items-center mb-6 not-italic">
          <div
            class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
          >
            <img
              class="mr-4 w-16 h-16 rounded-full"
              src="https://avatars.githubusercontent.com/u/37623000?v=4"
              alt="Hieu Do"
            />
            <div>
              <a
                href="#"
                rel="author"
                class="text-xl font-bold text-gray-900 dark:text-white"
                >Hieu Do</a
              >
              <p class="text-base font-light text-gray-500 dark:text-gray-400">
                Software Engineer, Front End developer, OCG.
              </p>
              <p class="text-base font-light text-gray-500 dark:text-gray-400">
                <time pubdate datetime="2022-02-08" title="February 8th, 2022"
                  >Feb. 8, 2022</time
                >
              </p>
            </div>
          </div>
        </address>
      </header>
      <section class="prose dark:prose-invert text-gray-400">
        <slot />
      </section>
    </article>
  </div>
</main>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Raleway:wght@100;200;400;700;900&display=swap");

  article {
    font-family: "Outfit", sans-serif;
  }
</style>
