@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-purple-50;
  }

  html {
    font-size: clamp(10px, 1vw, 16px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.35);
  }
}

@layer components {
  .icon-scroll:before {
    position: absolute;
    left: 50%;
  }

  .icon-scroll {
    position: relative;
    aspect-ratio: 1/2;
    box-shadow: inset 0 0 0 3px #ffffff77;
    border-radius: 25px;
  }

  .icon-scroll:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}
